body {
    margin: 0;
}

.logo {
    height: 50px;
    width: 10%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain ;
}

.hamburger {
    height: 100%;
    width: 50px;
    margin-left: 0;
    /* outline: solid 2px red; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top {
    width: 100%;
    height: 20%;
    background-color: #366198;
    border-radius: 3px;
}

.mid {
    width: 100%;
    height: 20%;
    background-color: #366198;
    border-radius: 3px;
}

.buttom {
    width: 100%;
    height: 20%;
    background-color: #366198;
    border-radius: 3px;
}

.contact{
    margin: 10px;
    height: 40px;
    background-color: #366198;
    border-radius: 10px;
    border: 2px solid #366198;
    color: #FFF;
    width: 15%;
    
}

li{
    list-style: none;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;

}

li:hover {
    outline: solid 2px #366198;
    color: #FFF;
    background-color: #82A6D3;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0; 
    margin-bottom: 25px;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #FFF;
    min-height: 50px;
    z-index: 100;

     /* outline: solid 2px red; */
}
.hero {
    /* outline: solid 2px red; */
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroB {
    margin: 10px;
    height: 50px;
    background-color: #366198;
    border-radius: 10px;
    border: 2px solid #FFF;
    color: #FFF;
} 

.heroB:hover{
    transform: scale(1.10);
}

.cards {
    /* outline: solid 2px red; */
    height: 450px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.card1 {
    /* outline: solid 2px red; */
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #366198;
    background: #FFF;
    box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.20), 20px 20px 90px 0px rgba(0, 0, 0, 0.30);
    
    
}

.rent:hover{
    transform: scale(1.10);
}

.titleC{
    height: 10%;
    font-size: xx-large;
    font-weight: 800;
}

.carP {
    height: 50%;
    /* outline: solid 2px red; */
    width: 100%;
    background-image: url("../images/car_card.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discrip {
    height: 30%;
    /* outline: solid 2px red; */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
}

.cards button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #366198;
    border: 2px solid #FFF;
    color: #FFF;
    height: 30px;
    width: 80px;
    margin-left: 40%;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* rentalPrices */

.rentalPrices {
    /* outline: solid 2px red; */
    height: 250px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    align-items: center;
}

.rect{
    outline: solid 2px #366198;
    height: 80%;
    width: 20%; 
    padding: 15px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.20), 3px 3px 15px 0px rgba(0, 0, 0, 0.30);
    overflow-y: auto;
}

.smallCar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.mediumCar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.bigCar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.family {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.tSmall{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 20px;
}

.rectTitle{
    color: #366198;
    font-size: xx-large;
    font-weight: 1000;
}

/* .tSmall span {

} */

.price {
    font: bolder;
    color: #366198;
    font-size: xx-large;
    font-weight: 900;
    margin-right: 20px;
}

/* socialIcons */

.socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;

}

.instagram { display: flex;
    height: 40px;
    width: 40px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/ig.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px;
transition: 0.3s; 
}

.instagram:hover { 
    
    transform: scale(1.2);
 }


.linkedIn { display: flex;
    height: 40px;
    width: 40px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/linkedin.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px; 
transition: 0.3s;
 }

.linkedIn:hover { 
    
    transform: scale(1.2);
    cursor: pointer; 
 }

.twitter { display: flex;
    height: 40px;
    width: 40px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/twitter.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px;
transition: 0.3s;
}

.twitter:hover { 
    
    transform: scale(1.2);

 }

.facebook { display: flex;
    height: 40px;
    width: 40px;
    /*outline: 2px solid #363333;*/
    background-image: url("../images/facebook.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px;
transition: 0.3s;
 }

.facebook:hover { 
    
    transform: scale(1.2);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}





/* Rent a car page styling  */

.inventoryList{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* outline: solid 2px red; */ 
    /* margin-left: 20px;
    margin-right: 20px; */
    width: 100%;

}

.carDetails{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* outline: solid 2px red; */
    width: 100%;
    height: 30vh;
    margin: 15px;
    border-radius: 10px;
    border: 2px solid #366198;
    padding: 15px;
}

.photoOfcar {
    /* outline: solid 2px red; */
    width: 30%;
    height: 100%;
}

.kia{
    background-image: url("../images/kia.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain ;

}

.jeep {

    background-image: url("../images/jeep.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.rangeRover {
    background-image: url("../images/range_rover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.toyota {
    background-image: url("../images/toyota.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.ford {
    background-image: url("../images/ford.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.dodge {
    background-image: url("../images/dodge.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.honda {
    background-image: url("../images/honda.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.hondaCivic {

    background-image: url("../images/hondaC.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.tesla {
    background-image: url("../images/tesla.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.toyotaSport {
    background-image: url("../images/toyotaS.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.lexus {
    background-image: url("../images/lexus.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.audi {
    background-image: url("../images/audi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.discription {
    /* outline: solid 2px red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%;
    height: 100%;
    overflow-y: auto;
}

.fullStar{
    width: 20%;
    height: 90%;
    /* outline: solid 2px red; */
    display: flex;
    background-image: url("../images/starfill.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;

}

.halfStar{
    background-image: url("../images/halfstar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 20%;
    height: 90%;
    display: flex;
}

.rentalRate {
    /* outline: solid 2px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 15%;
}

.clickToRent {

    /* outline: solid 2px red; */
    
    width: 10%;
    height: 20%;
    margin-left: auto;
    margin-right: 10px;
    background-color: #366198;
    border-radius: 10px;
    border: 2px solid #FFF;
    color: #FFF;
}



@media only screen and (max-width: 1000px) {



    body {
        margin: 0;
    }

    .cards {
         /* outline: solid 2px red; */
        height: 200vh;
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 25px;
        /* overflow-y: auto; */
    }

    .card1 {
        /* outline: solid 2px red; */
        height: 100%;
        width: 70%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border: 1px solid #366198;
        background: #FFF;
        box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.20), 20px 20px 90px 0px rgba(0, 0, 0, 0.30);
        
        
    }

    .rentalPrices {
        /* outline: solid 2px red; */
        height: 100%;
        width: 100%;
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 25px;
        display: flex;
        justify-content: space-evenly;
        overflow-x: auto;
        align-items: center;
        flex-direction: column;
    }

    .rect{
        outline: solid 2px #366198;
        height: 100%;
        width: 50%; 
        padding: 15px;
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.20), 3px 3px 15px 0px rgba(0, 0, 0, 0.30);
        overflow-y: auto;

    }

    header ul {
        display: none;
        align-items: center;
        justify-content: center;
        width: 60%;
    }

    .hamburger {
        height: 100%;
        width: 60px;
        /* outline: solid 2px red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
        margin-right: auto;
    }

    header {
        display: flex;
        width: 100%;
        align-items: center;
        /* margin-left: 10px;
        margin-right: 10px; */
        margin-bottom: 25px;
        margin-top: 10px;
        height: 50px;
        position: sticky;
        top: 0;
        background-color: #FFF;
        min-height: 50px;
        z-index: 100;
    
        /* outline: solid 2px red; */
    }

    .contact{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: auto;
        height: 40px;
        background-color: #366198;
        border-radius: 10px;
        border: 2px solid #366198;
        color: #FFF;
        width: 15%;
        
    }

    .hero {
        /* outline: solid 2px red; */
        width: 100%;
        height: 55vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../images/hero.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%
    }

    .clickToRent {
        /* outline: solid 2px red; */
        justify-content: flex-start;
        align-items: center;
        width: 10%;
        height: 20%;
        margin-left: auto;
        margin-right: 10px;
        background-color: #366198;
        border-radius: 10px;
        border: 2px solid #FFF;
        color: #FFF;
    }

}






